apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-volume
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: do-block-storage
